[submodule "modpack-badapack"]
	path = modpack-badapack
	url = https://github.com/erdnaxe/modpack-badapack
[submodule "modpack-dobbymod"]
	path = modpack-dobbymod
	url = https://github.com/erdnaxe/modpack-dobbymod
[submodule "modpack-dobbymod-magic"]
	path = modpack-dobbymod-magic
	url = https://github.com/erdnaxe/modpack-dobbymod-magic
[submodule "modpack-dobbytech"]
	path = modpack-dobbytech
	url = https://github.com/erdnaxe/modpack-dobbytech
[submodule "modpack-dobbyvanilla"]
	path = modpack-dobbyvanilla
	url = https://github.com/erdnaxe/modpack-dobbyvanilla
